.nav {
    background-color: white;
    display: flex;
    min-height: 70px;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: rgb(232, 231, 231);
    justify-content: space-between;
}

.nav h1 {
    margin: auto;
    background-color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'IBM Plex Serif', serif;
}

.menuBtn {
    background-color: white;
    /* position: absolute; */
    height: 30px;
    width: 30px;
    font-size: 1.3rem;
    /* margin-left: 12px;
    margin-top: 19px; */
    margin: 19px;
    margin-right: 82px;
}

.options {
    margin: 19px;
    /* position: absolute; */
    /* float: right; */
}

.iconGroup {
    background-color: white;
    height: 30px;
    width: 30px;
    font-size: 1.9rem;
    margin: 0.1rem;
}


